algorithms/odesign/InverseFold/ckpts/
refold/esmfold/weights/
inversefold/LigandMPNN/model_params/
output/
assets/antigen_nanobody/antigens/
assets/antigen_nanobody/scripts/

venv/
.env
__pycache__/
*.py[cod]

.DS_Store
.vscode/
.idea/
.cursorrules